<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>expenses</title>
</head>
<body>
    <nav>
        <ul>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
            <li>
                <a href="{% url 'create_account' %}">create account</a>
            </li>
            <li>
                <a href="{% url 'create_category' %}">create category</a>
            </li>
            <li>
                <a href="{% url 'create_receipt' %}">create receipt</a>
            </li>
            <li>
                <a href="{% url 'list_accounts' %}">list accounts</a>
            </li>
            <li>
                <a href="{% url 'list_categories' %}">list categories</a>
            </li>
            <li>
                <a href="{% url 'home' %}">list receipts</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
            <li>
                <a href="{% url 'signup' %}">Sign Up</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>