{% extends 'base.html' %}

{% block content %}
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Number of receipts</td>
        </tr>
    </thead>
    <tbody>
        {% for category in expensecategory_list %}
        <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.receipts.all|length }}</td>
            {% comment %} <td>{{ receipts|get_item:category.name }}</td> {% endcomment %}
        </tr>
        {% endfor %}
    <tbody>
</table>
{% endblock content %}

